.placeholder{
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    min-height: 100vh; 
    }
    
    
    .phatBox{
    display: flex;
    justify-content: center;
    }