
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh; 
}

.sectionOne {
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  margin: 0px;
  background-color: white;
  min-height: 30vh;
}

.sectionTwo {
  display:flex;
  margin: 0px;
  background-color: #FFF0D4;
  min-height: 30vh;
}
.orangeSquare{
  background-color: #E69F40;
  width: 20%;
}
.whiteSquares{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.firstSquare{
  background-color: white;
  border: black 1px;
  min-height: 30vh;
  min-width: 30vh;
}
.secondSquare{
  background-color: white;
  border-style: 6px, black 1px;
  min-height: 30vh;
  min-width: 30vh;
}

.sectionThree {
  display:flex;
  flex-direction: column;
  margin: 0px;
  background-color: white;
  min-height: 30vh;
}

.space{
  min-height: 10vh;
  min-width: 30vh;
  background-color: light grey;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-self: center;
}