
.container {
    margin: auto;
    min-height: 100vh; 
    /* display: flex;
    flex-direction: column; */
  }
 
  .openingImage{
    border-radius: 0px 0px 20px 20px;
    z-index:;
  }

  .sectionOne {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .sectionTwo {
    display: flex;
    flex-direction: row;
    background-color: #FFF0D4;
  }

  .orangeSquare{
    background-color: #E69F40;
    /* margin: auto; */
 }

  /* .whiteSquares{
    margin: auto;
  } */

  .firstSquare{
    background-color: #cc9d5f;
    border: black 1px;
  }

  .secondSquare{
    background-color: darkgoldenrod;
    border-style: 6px, black 1px;
  }
  
  .sectionThree {
    height: 20%;
    display:flex;
    flex-direction: row;
    background: red;
  }
  
  .ourAss{
   margin: auto;
   background-color: #645D5A;
   color: #FFFFFF;
   padding:10px;
  }

  .sponsorLogos {
    display:flex;
    flex-direction: row;
    background: grey;
  }

  .logos{
    margin: auto;
    background-color: dark grey;
    color: #FFFFFF;
   }