/* .pane{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
} */

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover
{
font-weight:bold;
}

.headerBox{
    display: flex;
    padding: 1%;
    background-color: #FCF9F9;
    filter: drop-shadow(15px 5px 5px grey);
}

.hehe{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 10%;
}

.hehe p{
    padding: 0%;
    margin: 20px;
    color: #C58200;
    font-family: Roboto 18px;
}

.headerLogo{
    margin: auto;
    width: 27%;
    height: 85%;
    margin-left: 50%;
}

.footerBox{
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-size: 80%;
    background-color: #F2EFEF;
    /* font-weight: bold; */
}

.name{
    margin: auto;
    padding: 0.5%;
    color: #C58200;
}

.copyRight{
    margin: auto;
    padding: 0.5%;
    color: #C58200;
}

.icons{
    margin: auto;
    padding: 0.5%;
    color: #FBB040;
}