* {
    font-family: 'Roboto';
}

.container {
    padding: 50px;
    padding-top: 100px;
}


.loginImage {
    height: 80%;
    width: 50%;
    float: right;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin-bottom: 50px;
}

.button {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    background-color: #FBB040;
    padding: 10px;
    width: 347px;
    height: 48.5px;
    margin-top: 50px;
    border-radius: 5px;
    border-style: none;
    color: #F6F6F6;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
}

.label {
    margin-right: 20px;
    margin-left: 50px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h3 {
    padding: 5px;
    margin-left: 220px;
    font-size: 14;
    font-family: 'Roboto';

}

input {
    
    border: solid 1px #E8E8E8;
}